body{
	font-family: 'PT Sans',"Arial", sans-serif;
	font-family: 'Cuprum',"Arial", sans-serif;
	padding:0;
	margin:0;
}
a{
	text-decoration: none;
	color: #fff;
}
/*clearfix*/
.clearfix::after {
	content: "";
    display: table;
    clear: both;
}
.clearf {
	clear: both;
	}
/*clearfix*/
	
/*header*/
.header-logo h1,
.footer-logo h1{
	font-size: 24px;
	line-height: 24px;
	color: #fff;
	font-weight: normal;
	font-family: "Cuprum", "Arial", serif;
	text-transform: uppercase;
}
/*header start*/
.main-header {
	background-color: #F2F6F8;
}
.top-background {
	background-color: #293449;
		margin-bottom:46px;
}
.container {
	/*background-color: rgba(255, 208, 20, 0.3);*/
	width:940px;
	margin:0 auto;
	padding: 0 10px;
}	
.header-logo {
float:left;
}
.header-logo a {
	display:inline-block;
	position:relative;
	width:114px;
	background-color: #EE3643;
	padding: 9px 53px;
	box-shadow: 0px 5px 0 0 #B52933;
}
.header-logo a:hover,
.footer-logo a:hover{
	background-color: #CA2C37;
}
.header-logo a:active,
.footer-logo a:active{
	background-color: #BA2732;
}
.header-logo h1,
.footer-logo h1 {
	margin:0;
	text-align:center;
}
.top-search {
	float:left;
	width:720px;
	height:42px;
	font-size:0px;
	position:relative;
}
.search-label{
	/*padding-left:21px;*/
}
.search-label::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 18px;
  width: 18px;
  height: 18px;
  background:  url("img/spritesheet.png") no-repeat;
  background-position: -66px -32px;
  opacity:0.3;
}
.search input[type="search"]:hover {
	background-color:#212A3A;
}
.search-label:hover::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 18px;
  width: 18px;
  height: 18px;
  background:  url("img/spritesheet.png") no-repeat;
  background-position: -66px -32px;
  opacity:1;
}
.search input[type="search"]:focus::before{
  content: "";
  position: absolute;
  top: 12px;
  left: 13px;
  width: 18px;
  height: 18px;
  background:  url("img/spritesheet.png") no-repeat;
  background-position: -65px -59px;
}
.search {
	display:inline-block;
	position:relative;
	width:270px;
	font-size:17px;
}
.search input[type="search"]{
	background-color: #33445A;
	border:none;
	font-size:17px;
	line-height:18px;
	padding:11px 6px 12px 47px;
	font-family: 'Cuprum',"Arial", sans-serif;
	}
.search input[type="search"]:focus {
	background-color: #fff;
	color: #000;
	outline:none;
}	
.search input.search-row:focus {
  /*background-image: url("img/search1.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;*/
}
.search input[type="search"]::-webkit-input-placeholder {color:#fff;font-size:17px;}
.search input[type="search"]::-moz-placeholder          {color:#fff;font-size:17px;}/* Firefox 19+ */
.search input[type="search"]:-moz-placeholder           {color:#fff;font-size:17px;}/* Firefox 18- */
.search input[type="search"]:-ms-input-placeholder      {color:#fff;font-size:17px;}
a.bookmarks{
	display:inline-block;
	width:90px;
	font-size:17px;
	padding:11px 15px 12px 45px;
	line-height:18px;
}
.bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 287px;
  width: 18px;
  height: 18px;
  background: url("img/spritesheet.png") no-repeat;
  background-position: -32px -5px;
  opacity: 0.3;
}
a.basket {
	display:inline-block;
	vertical-align:baseline;
	width:91px;
	font-size:17px;
	line-height:18px;
	padding:11px 10px 12px 49px;
}
.basket-full {
	background-color:#EE3643
}
a.basket:hover::before,
a.bookmarks:hover::before {
	opacity: 1;
}
a.basket:hover,
a.bookmarks:hover {
	background-color:#212A3A;
}
a.basket:active::before,
a.bookmarks:active::before {
	opacity: 0.3;
}
a.basket:active,
 a.bookmarks:active{
	opacity: 0.3;
}
.basket::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 436px;
  width: 18px;
  height: 18px;
  background: url("img/spritesheet.png") no-repeat;
  background-position: -5px -5px;
  opacity: 0.3;
}
a.ordering{
	display:inline-block;
	vertical-align:baseline;
	font-size:17px;
	line-height:18px;
	padding:12px 21px 12px 21px;
	background: #6DB254;
}
.ordering:hover {
	background-color:#5FBB2D;
}
.ordering:active{
	background-color: #518534;
	color: #A4BF94;
}
.header-description {
	float:left;
	width: 200px;
	padding-left:50px;
	padding-right:50px;
	font-size:16px;
	line-height:23px;
	font-style:italic;
	color:#ff5357;
	margin-bottom:43px;
}
.header-contacts {
	float:left;
	width:300px;
	margin-left:5px;
	text-align:center;
	position:relative;
}
.contacts-phone {
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	width:153px;
	height:20px;
	padding:10px 47px 10px 66px;
	border: 2px solid #fff;
	font-size:21px;
	line-height:18px;
	color:#fb463c;
	margin-bottom:4px;
}
.contacts-phone::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 30px;
  width: 19px;
  height: 19px;
  background: url("img/spritesheet.png") no-repeat;
  background-position: -36px -59px;
}
.contacts-address{
	display:inline-block;
	vertical-align:top;
	text-align:center;
	font-size:14px;
	line-height:24px;
	color:#3d546e;
	
}
.user-block {
	float:right;
	position:relative;
	width:300px;
	margin-bottom:40px;
	text-align:right;
}
.user-block a.login{
	display:inline-block;
	text-align:center;
	width:44px;
	padding:10px 25px 10px 51px;
	background-color: #fff;
	color:#000;
	font-size:21px;
	margin-right:10px;
}
.login::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 34px;
  width: 19px;
  height: 19px;
  background: url("img/spritesheet.png") no-repeat;
  background-position: -56px -5px;
}
.login:hover::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 34px;
  width: 19px;
  height: 19px;
  background: url("img/spritesheet.png") no-repeat;
  background-position: -5px -32px;
}
.user-block .registration:hover,
.user-block .login:hover {
	color:#EE3643;
}
.user-block .registration:active,
.user-block .login:active {
	color: #B2B2B2;
}
.user-block .login:active::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 34px;
  width: 19px;
  height: 19px;
  background: url("img/spritesheet.png") no-repeat;
  background-position: -56px -5px;
}
.user-block span.user-name {
	display:inline-block;
	font-size:21px;
	line-height:18px;
	width:195px;
	padding:13px 72px 13px 37px;
	background-color: #fff;
}
.block-name::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 14px;
  width: 20px;
  height: 20px;
  background: url("img/spriteuser.png") no-repeat;
  background-position: -5px -76px;
  opacity: 0.3;
}
.block-name:hover::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 14px;
  width: 20px;
  height: 20px;
  background: url("img/spriteuser.png") no-repeat;
  background-position: -5px -76px;
  opacity: 1;
}
.exit::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 269px;
  width: 21px;
  height: 21px;
  background: url("img/spriteuser.png") no-repeat;
  background-position: -75px -27px;
  opacity: 0.3;
}
.exit:hover::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 265px;
  width: 21px;
  height: 21px;
  background: url("img/spriteuser.png") no-repeat;
  background-position: -75px -27px;
  opacity: 1;
}
.user-block span.user-name:active {
	opacity:0.7;
}
.user-block .registration{
	display:inline-block;
	text-align:center;
	width:150px;
	padding:10px 0 10px 0px;
	background-color:#fff;
	color:#000;
	font-size:21px;
}
.user-block p {
	display:inline-block;
}
.user-block li {
	margin-top:4px;
}
.user-block ul,
.breadcrumb ul {
	margin:0;
	padding:0;
}
.breadcrumb {
	float:left;
	position:relative;
	min-width:400px;
	background-color: #fff;
	margin-bottom:10px;
	margin:21px 0;
	font-size:13px;
	line-height:18px;
	font-family: 'PT Sans',"Arial", sans-serif;
}
.breadcrumb a {
	color: #000;
	text-transform:uppercase;
	
}
.breadcrumb li {
	color: #000;
	text-transform:uppercase;
	font-size:13px;
	line-height:18px;
}
.breadcrumb li {
	position:relative;
	text-align:align;
	padding-right:33px;
}
.user-block li,
.breadcrumb li {
	display:inline;
	display:inline-block;
	text-align:center;
}
.breadcrumb-item::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 4px;
  width: 9px;
  height: 12px;
  background: url("img/spriteuser.png") no-repeat;
  background-position: -75px -54px;
}
.home {
	padding-right:20px;
}
.home::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 5px;
  left: 0px;
  height: 12px;
  background: url("img/spriteuser.png") no-repeat;
  background-position: -75px -5px;
}

.user-block li {
	float:left;
	padding-left: 20px;
	padding-right: 10px;
}
.user-block li a {
	display:inline-block;
	text-align:center;
	margin-top:5px;
	color: #32425c;
	text-decoration:underline;
	font-size:16px;
}
.personal-area::before {
	content: "";
	position:absolute;
	width: 5px;
	height: 5px;
	background-color: #32425C;
	border-radius:50px;
	top: 59px;
	left: 108px;
}
.user-block li a:hover {
	color: #EE434F;
	text-decoration:underline;
}
.user-block li a:active {
	color: #32425c;
	text-decoration:underline;
	opacity:0.5;
}
.top-nav {
	float:left;
	width:940px;
	background-color: #32425C;
	margin-bottom:60px;
	font-size:17px;
	line-height:17px;
	border-bottom:5px solid #293449;
}
.top-nav ul{
	margin:0;
	padding:0;
	display:flex;
	justify-content:space-around;
}
.top-nav li:hover {
	background-color:#293449;
}
.top-nav a:active {
	background-color:#293449;
	color:#8E939C;
}
.top-nav li{
	height:35px;
	display:inline-block;
	text-align:center;
	vertical-align:baseline;
	padding-top:20px;
		flex-grow:1;
}
/*header end*/
/*promo start*/
.promo {
	margin-top:59px;
	margin-bottom:33px;
}
.promo h2{
	font-size: 24px;
	line-height: 30px;
	color: #fff;
	font-weight: bold;
	font-family: "Cuprum", "Arial", serif;
}
.stock-item{
	float:left;
}
.promo-item {
	width:253px;
	height:78px;
	/*padding:25px;*/
	padding:20px 25px 25px 22px;
	position:relative;
	margin-right:20px;
	margin-bottom:20px;
	background-color: #FFBF47;
}
.promo-item:nth-child(3),
.promo-item:nth-child(5),
.promo-item:nth-child(6){
	margin-right:0;
}
.promo-item:nth-child(2) {
	background-color: #3BBCE3;
}
.promo-item:nth-child(3) {
	background-color: #DC91D8;
}
.promo-item:nth-child(5) {
	background-color: #8ED78F;
}
.promo-item a {
	margin-left:3px;
}
.promo-btn {
	display:inline-block;
	width:95px;
	font-size:14px;
	line-height:18px;
	padding:10px 20px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius:5px;
	font-weight: regular;
	font-family: "Cuprum", "Arial", serif;
	text-transform: uppercase;
	color: #fff;
}
a.promo-btn:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
a.promo-btn:active {
	background-color: rgba(0, 0, 0, 0.3);
}
.promo-item h2 {
	margin:0;
	margin-bottom:12px;
}
.promo-img {
	position:absolute;
	top:25px;
	left:196px;
}
.new {
	position:absolute;
	top:0px;
	right:0px;
}
.slider {
	position:relative;
}
.slide-text1,
.slide-text2{
	float:left;
	position:relative;
	width: 566px;
	height:212px;
	padding:27px;
	margin-right:20px;
	margin-bottom:20px;
	background-color: #D98FD5;
}
.slide-text1 {
	background: url("img/slide-1.jpg") no-repeat;
	background-position: left top;
}
.slide-text2 {
	background: url("img/slide-2.jpg") no-repeat;
	background-position: left top;
}
.slide-text1 h2,
.slide-text2 h2 {
	font-size:36px;
	line-height:30px;
	text-transform:uppercase;
	color: #fff;
	margin:0 0 5px 0;
} 
.slide-text1 span,
.slide-text2 span {
	display:block;
	font-size: 18px;
	line-height:24px;
	font-family: 'PT Sans',"Arial", sans-serif;
	color: #fff;
}
.slide-text1 a.major-btn,
.slide-text2 a.major-btn {
	position:absolute;
	left:27px;
	bottom:23px;
	margin:0;
	text-align:center;
	padding: 10px 47px;
}
.slide-text2 {
	display:none;
}
.slide ul {
	padding:0;
	margin:0;
}
.slide li{
	display:inline;
}
.control-arrow-left{
	position:absolute;
	top:-132px;
	left:26px;
}
.control-arrow-right {
	position:absolute;
	top:-132px;
	right:22px;
}
.control-tech {
	display:inline-block;
	position:absolute;
	text-align:center;
	top:-30px;
	left:295px;
}
.slide-control{
	float:left;
	width:620px;
	top:390px;
	position:absolute;
	text-align:center;
}
.popular-brand {
	margin-bottom:66px;
}
.popular-tovar-title,
.popular-brand-title {
	float:left;
	width:940px;
	height:88px;
	background-color:#F9F5F0;
	margin-bottom:21px;
}
.popular-tovar-title h2,
.popular-brand-title h2 {
	display:inline-block;
	vertical-align:middle;
	float:left;
	margin:0;
	font-size:30px;
	line-height:30px;
	font-weight:normal;
	color: #3d546e;
	text-transform:uppercase;
	padding:29px;
	font-family: 'Cuprum',"Arial", sans-serif;
}
a.major-btn {
	display:inline-block;
	vertical-align:middle;
	float:right;
	margin:25px 25px;
	background-color: #FF5357;
	font-size:14px;
	line-height:18px;
	text-transform:uppercase;
	padding: 10px 55px;
	border-radius:5px;
}
a.major-btn:hover,
.buy-modal a.major-btn:hover,
.us-form-bottom input[type="submit"]:hover {
	background-color: #CA2C37;
}
a.major-btn:active,
.buy-modal a.major-btn:active,
.us-form-bottom input[type="submit"]:active {
	background-color: #BA2732;
}
.popular-brand-title a.major-btn{
	padding: 10px 69px;
}
.brand-item {
	position:relative;
	display:inline-block;
	vertical-align:top;
	margin-bottom:20px;
	width: 218px;
	height:143px;
	background-color: #fff;
	background-position:center;
	border: 1px solid #E7E7E7
}
.brand-item:hover {
	-webkit-box-shadow: 0px 10px 25px 0px rgba(41,52,73,1);
	-moz-box-shadow: 0px 10px 25px 0px rgba(41,52,73,1);
	box-shadow: 0px 10px 25px 0px rgba(41,52,73,1);
}
.brand-item:active {
	-webkit-box-shadow: 0px 4px 10px 0px rgba(41,52,73,1);
	-moz-box-shadow: 0px 4px 10px 0px rgba(41,52,73,1);
	box-shadow: 0px 4px 10px 0px rgba(41,52,73,1);
	opacity:0.3;
}

.brand-item img {
	background-color: #ccc;
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translateX(-50%) translateY(-50%);
	
}
.servises {
	padding-top:60px;
	/*padding-bottom:17px;*/
}
.servises-description {
	margin-bottom: 70px;
}
.servises-description h2{
	margin:0;
	margin-top:4px;
	font-size:30px;
	line-height:30px;
	font-weight:normal;
	text-transform:uppercase;
	margin-bottom:27px;
}
.servises-description span {
	display:inline-block;
	font-size:13px;
	line-height:24px;
	width:400px;
	font-family: 'PT Sans',"Arial", sans-serif;
}
.servises-block-left {
	float:left;
	position:relative;
}
img.servises-shadow {
	position:absolute;
	top:-30px;
	left:230px;
}
.servises-block-left ul,
.servises-block-right ul,
.info ul {
	margin:0;
	padding:0;
}
.servises-block-left input[type="radio"]{
 display:none;	
}
.servises-block-left label {
	display:inline-block;
	font-size:21px;
	line-height:30px;
	font-weight:bold;
	width:196px;
	padding:13px 22px 17px 22px;
	border-bottom:1px solid #33445B;
	box-shadow:0 1px 1px 0px #4D637B;
	background-color: #3D546E;
	color: #fff;
}
.servises-block-left input:checked +label{
	background-color: #fff;
	color: #3d546e;
	border-bottom:1px solid #fff;
	box-shadow:none;
}
.servises-block-left label:hover{
	background-color: #293449;

}
.servises-block-right {
	position:relative;
	float:right;
	width:620px;
	height:285px;
}
.servises-block-title {
	display:block;
	font-size:35px;
	line-height:24px;
	font-weight:bold;
	text-transform:uppercase;
	color: #3d546e;
	margin-bottom:30px;
}
.servises-block-description {
	display:inline-block;
	font-size:13px;
	line-height:24px;
	width:380px;
	font-family: 'PT Sans',"Arial", sans-serif;
}
.servises-block-left li,
.servises-block-right li{
	list-style:none;
}
.servises-block-right li {
	padding-top:4px;
}
.servises-block-right .delivery {
	background: url("img/delivery.png") no-repeat;
	height:285px;
	background-position: right 19px;
}
.servises-block-right .guarantee {
	background: url("img/guarantee.png") no-repeat;
	height:285px;
	background-position: right top;
}
.servises-block-right .credit {
	background: url("img/credit.png") no-repeat;
	height:285px;
	background-position: right top;
}
.servises-block-right .credit a{
	float:left;
	margin-left:0;
}
/*.delivery,*/
.guarantee,
.credit {
	display:none;
}

.about-company {
	margin-bottom:86px;
}
.info {
	float:left;
	margin-top:57px;
	width:540px;
	font-weight:normal;
}
.info h2,
.contacts h2 {
	font-size:30px;
	line-height:24px;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:30px;
}
.info li {
	list-style: none;
	padding-left: 32px;
	background: transparent url("img/li.png") no-repeat left center;

}
.info li {
	font-size:19px;
	line-height:30px;
	font-weight:bold;
	margin-bottom:8px;
}
.info li:last-child {
	margin-bottom:33px;
}
.info p,
.info span,
.contacts p {
	font-size:14px;
	line-height:24px;
}
.info p {
	margin-bottom:23px;
}
.info span {
	display:inline-block;
	margin-bottom:16px;
}
.info a.major-btn,
.contacts a.major-btn {
	float:left;
	margin:0;
}
.info a.major-btn {
	padding:10px 40px;
}
.contacts {
	float:right;
	width:300px;
	margin-top:57px;
}
.contacts p {
	margin-bottom:32px;
}
.contacts img {
	margin-bottom:32px;
}
.contacts a.major-btn {
	width:180px;
	padding:10px 60px;
}
/*promo end*/
/*catalog*/
.catalog {
	float:right;
	width:700px;
	font-size:0;
	margin-bottom: 60px;
}
.popular-tovar,
.popular-brand,
.catalog {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.catalog-item { 
	position:relative;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	width: 218px;
	min-height:316px;
	background-color:#fff;
	margin-bottom:20px;
	font-size:14px;
	border: 1px solid #EAEAEA;
}
.catalog-item img.item-img {
 margin-top:34px;
 margin-bottom:39px;
}
.catalog-item span.name {
	display: inline-block;
	vertical-align: top;
	width: 157px;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	font-family: 'PT Sans',"Arial", sans-serif;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom:12px;
	
}
.catalog-item span.oldprice {
	display: inline-block;
	vertical-align: top;
	width: 157px;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #a9a9a9;
	font-family: 'PT Sans',"Arial", sans-serif;
	padding-left: 30px;
	padding-right: 30px;
	text-decoration: line-through;
	margin-bottom:8px;
}
.catalog-item a.tovar-btn {
	position:absolute;
	bottom: 19px;
	left: 42px;
	display: inline-block;
	vertical-align: bottom;
	width: 140px;
	padding: 12px 0;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #fff;
	font-family: 'PT Sans',"Arial", sans-serif;
	background: url("img/btn.png") no-repeat;
	background-position: center;
}
.item-buttons {
	display:none;
	margin-top:44px;
}
a.item-buttons-buy,
a.item-buttons-bookmarks {
	display:inline-block;
	font-size:14px;
	line-height:18px;
	text-transform:uppercase;
	border-radius:5px;
}
a.item-buttons-buy {
	background-color: #63A63E;
	width:135px;
	padding: 8px 0;
	margin-bottom:8px;
	box-shadow: 0px 3px 0 0 #367315;
}
.item-buttons-buy::before {
  content: "";
  position: absolute;
  top: 52px;
  left: 56px;
  width: 19px;
  height: 19px;
  background: url("img/spritesheet.png") no-repeat;
  background-position: -5px -5px;
  opacity:0.3;
} 
a.item-buttons-buy:hover {
	background-color: #5FBB2D;
}
.item-buttons-buy:hover::before {
  content: "";
  position: absolute;
  top: 52px;
  left: 56px;
  width: 19px;
  height: 19px;
  background: url("img/spritesheet.png") no-repeat;
  background-position: -5px -5px;
  opacity:1;
} 
a.item-buttons-buy:active {
	background-color: #518534;
}
a.item-buttons-bookmarks {
	border: 3px solid #63A63E;
	width:129px;
	padding: 5px 0;
	color: #32425c;
	margin-bottom:56px;
}
a.item-buttons-bookmarks:hover {
	border-color:#32425C;
}

a.item-buttons-bookmarks:active {
	opacity:0.3;
}
.catalog-item:hover {
	-webkit-box-shadow: 0px 10px 25px 0px rgba(41,52,73,1);
	-moz-box-shadow: 0px 10px 25px 0px rgba(41,52,73,1);
	box-shadow: 0px 10px 25px 0px rgba(41,52,73,1);
}
.catalog-item:hover .item-buttons {
	display:inline-block;
}
.catalog-item:hover .item-img{
	display:none;
}
.catalog-title {
	padding: 4px 30px;
	margin-bottom:20px;
}
.catalog-title h2{
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	font-weight: regular;
	font-family: "Cuprum", "Arial", serif;
	
}
.pagination {
	margin-top:30px;
	float:left;
	min-width:300px;
	font-size:15px;
}
.pagination a{
	display:inline-block;
	color: #000;
	text-align:center;
	padding:10px 17px;
	border:1px solid #E5E5E5;
	font-size:13px;
	line-height:18px;
	text-transform:uppercase;
	margin-right: 10px;
}
.pagination a:hover{
	border:1px solid #BDC6CA;
}
.pagination a:active{
	border:1px solid #EE3643;
}
.pagination a.link-active {
	background-color:#EE3643;
	color:#fff;
	border:1px solid #EE3643;
}
.pagination a:last-child {
	padding:10px 28px;
}
.filter {
	float:left;
	width:220px;
	font-family: 'PT Sans',"Arial", sans-serif;
}
.filter-bg {
	border-radius:5px;
	background-color:#F7F3EC;
	font-family: 'PT Sans',"Arial", sans-serif;
}
span.filter-name {
	display:inline-block;
	width:186px;
	padding:10px 17px;
	font-size:13px;
	line-height:18px;
	text-transform:uppercase;
	margin-bottom:12px;
}
span.filter-h2{
	font-size:17px;
	line-height:30px;
	font-weight:bold;
	text-transform:uppercase;
}
.filtel-price-btn {
	position:relative;
	width:220px;
	height:80px;
	margin-bottom:9px;
}
.filtel-price-btn1,
.filtel-price-btn2,
.filtel-background {
	position:absolute;
}
.filtel-background {
	left:20px;
	top:40px;
}
.filter-price,
.filter-brand {
	-webkit-box-shadow: 0px 1px 0px 0px rgba(229,229,229,1);
	-moz-box-shadow: 0px 1px 0px 0px rgba(229,229,229,1);
	box-shadow: 0px 1px 0px 0px rgba(229,229,229,1);
	padding-bottom:25px;
	margin-bottom:16px;
}
.filter-battery {
	margin-bottom:73px;
}
.filtel-price-btn1{
	left:20px;
	top:30px;
	z-index:2;
	cursor: pointer;
}
.filtel-price-btn2 {
	left:160px;
	top:30px;
	z-index:2;
	cursor: pointer;
}
input.filter-bg {
	border:none;
	padding: 10px 17px;
	font-size:17px;
	line-height:18px;
	text-align:center;
	font-family: 'PT Sans',"Arial", sans-serif;
}
input.filter-bg:nth-child(2) {
	float:right;
}
.filter-brand li,
.filter-price li,
.filter-battery li {
	list-style-type: none;
}
.filter-brand {
	padding-bottom: 5px;
}
.filter-brand span,
.filter-battery span {
	display: inline-block;
	margin-bottom:12px;
}
.filter-brand li,
.filter-battery li {
	margin-bottom:17px;
}
.filter-brand ul,
.filter-price ul,
.filter-battery ul {
	padding:0;
	margin:0;
}
.filter-price ul {
	margin-top: 13px;
}
.filter-brand {
	position:relative;
}
.filter-brand input[type="checkbox"],
.filter-battery input[type="radio"]  {
    display:none;            
}
.filter-brand label,
.filter-battery label {
	font-size:15px;
	line-height:20px;
	text-transform:uppercase;
}
.filter-brand input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
	vertical-align:middle;
    height: 23px;
    width: 23px;
    margin: 0 5px 0 0;
    background: url("img/spriteuser.png") no-repeat;
	background-position: -5px -5px;
}
.filter-battery input[type="radio"] + label::before {
    content: "";
    display: inline-block;
	vertical-align:middle;
    height: 25px;
    width: 25px;
    margin: 0 5px 0 0;
    background: url("img/spriteuser.png") no-repeat;
	background-position: -5px -38px;
}
.filter-brand input[type="checkbox"]:checked + label::before {
    background-position: -38px -5px;   
}
.filter-battery input[type="radio"]:checked + label::before {
    background-position: -40px -38px;  
}
.filter input[type="submit"] {
	font-size:13px;
	line-height:18px;
	text-transform:uppercase;
	padding:9px 39px;
	background-color:#fff;
	border: 1px solid #E5E5E5;
	font-family: 'PT Sans',"Arial", sans-serif;
}
.sorting {
	float:right;
	width:665px;
	position:relative;
	background-color: #F7F3EC;
	padding:9px 15px 10px 20px;
	margin-bottom:20px;
}
.sorting span,
.sorting a {
	text-transform:uppercase;
	font-size:13px;
	line-height:18px;
}
.sorting span {
	margin-right:139px;
}
.sorting a {
	color: #ACAAA5;
	border-bottom: 1px dotted #EE3643;
}
.sorting a:hover {
	color: #000;
	border-bottom:none;
	box-shadow: 0px 1px 0 0 #EE3643;
}
.sorting a:active  {
	color: #ee3643;
	border-bottom:none;
	box-shadow: none;
}
.sorting a:nth-child(2) {
	margin-right:67px;
}
.sorting a:nth-child(3) {
	margin-right:62px;
}
.prise-range {
	display: flex;
	justify-content: space-between;
	
}
.prise-range span {
	display:inline-block;
	padding-top: 8px;
}
.sotring-value-up::before {
  content: "";
  position: absolute;
  bottom: 14px;
  left: 640px;
  width: 10px;
  height: 11px;
  background: url("img/spritefilter.png") no-repeat;
  background-position: -5px -64px;
  opacity:0.3;
} 
.sotring-value-down::before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 673px;
  width: 10px;
  height: 11px;
  background: url("img/spritefilter.png") no-repeat;
  background-position: -5px -24px;
  opacity:0.3;
} 
.sotring-value-up:hover::before {
  content: "";
  position: absolute;
  bottom: 14px;
  left: 640px;
  width: 10px;
  height: 11px;
  background: url("img/spritefilter.png") no-repeat;
  background-position: -5px -64px;
  opacity:1;
} 
.sotring-value-down:hover::before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 673px;
  width: 10px;
  height: 11px;
  background: url("img/spritefilter.png") no-repeat;
  background-position: -5px -24px;
  opacity:1;
} 
.sotring-value-up:active::before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 643px;
  width: 10px;
  height: 11px;
  background: url("img/spritefilter.png") no-repeat;
  background-position: -5px -44px;
  opacity:1;
} 
.sotring-value-down:active::before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 673px;
  width: 10px;
  height: 11px;
  background: url("img/spritefilter.png") no-repeat;
  background-position: -5px -5px;
  opacity:1;
} 
.catalog-description{
	float:left;
	width:940px;
}
.catalog-description h2 {
	font-size: 30px;
	line-height: 30px;
	color: #000;
	font-weight: normal;
	font-family: "Cuprum", "Arial", serif;
	margin:0;
	margin-top:63px;
	margin-bottom:26px;
}
.blue {
	background-color: #F2F6F8;
}
.catalog-description p {
	font-size:13px;
	line-height:24px;
	margin-bottom:68px;
	font-family: 'PT Sans',"Arial", sans-serif;
	}
/*footer-start*/
.top-footer {
	background-color: #32425C;
	padding-bottom:51px;
}
.footer-logo {
	float:left;
	width:220px;
	background-color: #FF5357;
	margin-bottom:26px;
}
.footer-logo a {
	display:inline-block;
	position:relative;
	font-size:30px;
	line-height:30px;
	background-color: #EE3643;
	padding: 17px 42px;
	border-bottom:5px solid #B52933;
}
.footer-contacts {
	float:left;
	width: 328px;
	font-size:18px;
	line-height:24px;
	color: #f3f7f9;
}
.footer-contacts span {
	padding-left:2px;
}
.footer-nav-first,
.footer-nav-second {
	float:right;
}
.footer-nav-first {
	width:550px;
	margin-top:37px;
}
.footer-nav-second {
	width:525px;
}
.footer-nav-first ul,
.footer-nav-second ul {
		display:flex;
		justify-content:space-between;
}
.footer-nav-first ul,
.footer-nav-second ul {
	margin:0;
	padding:0;
}
.footer-nav-first li,
.footer-nav-second li
 {
	display:inline;
}
.footer-nav-first a,
.footer-nav-second a {
	font-size:18px;
	line-height:24px;
}
.footer-nav-first a {
	color: #f3f7f9;
}
.footer-nav-first a:hover,
.footer-nav-second a:hover {
	text-decoration:underline;
}
.footer-nav-first a:active,
.footer-nav-second a:active {
	text-decoration:none;
	opacity:0.3;
}
.footer-nav-second a {
	color: #ffda96;
}
.down-footer {
	background-color: #293449;
	padding-top:35px;
	padding-bottom: 22px;
}
.footer-copy {
	float:left;
	width:320px;
	font-size:16px;
	line-height:18px;
	color: #fff;
}
.footer-social {
	float:left;
	width:180px;
	font-size:0;
	margin-left:66px;
}
.footer-social a {
	position:relative;
	display:inline-block;
	vertical-align:baseline;
	text-align:center;
	width:40px;
	height:40px;
	/*padding:8px;*/
	border:0;
	margin-left:5px;
	border-radius:50px;
	background-color: rgba(0, 0, 0, 0.3);
	vertical-align:center;
}
.footer-social a:hover {
	background-color: #EE3643;
}
.footer-social img {
	display:inline-block;
	vertical-align:center;
	text-align:center;
}
.img-vk::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top:-12px;
  left: 50%;
  margin-left:-12px;
  width: 25px;
  height: 25px;
  background:  url("img/spritesocial.png") no-repeat;
  background-position: -5px -75px;
}
.img-face::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top:-12px;
  left: 50%;
  margin-left:-12px;
  width: 25px;
  height: 25px;
  background:  url("img/spritesocial.png") no-repeat;
  background-position: -5px -5px;
}
.img-inst::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top:-12px;
  left: 50%;
  margin-left:-12px;
  width: 25px;
  height: 25px;
  background:  url("img/spritesocial.png") no-repeat;
  background-position: -5px -40px;
}

.powered {
	float:right;
	width:310px;
	margin-right:11px;
}
.feedback {
	display:inline-block;
	float:left;
	width:140px;
	margin-left:20px;
}
.powered-by {
	display:inline-block;
	float:right;
	width:97px;
}
.feedback span,
.powered-by span {
	color: #fff;
} 
.feedback a,
.powered-by a {
	color: #ffda96;
} 
.feedback a:hover,
.powered-by a:hover {
	color:#F4C87B;
	text-decoration:underline;
}
.feedback a:active,
.powered-by a:active {
	color:#EE3643;
	text-decoration:none;
}
/*footer-end*/
/*modal*/
.write-to-us-modal {
	position:fixed;
	top:50%;
	margin-top:-211px;
	left:50%;
	margin-left:-310px;
	width:620px;
	height:423px;
	border-top:7px solid #FF5357;
	background:#fff;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
	font-family: 'Cuprum',"Arial", sans-serif;
	display:none;

	}
.modal-close {
	position:absolute;
	top:13px;
	right:8px;
	width:26px;
	height:26px;
	font-size:0;
	background-color: transparent;
	border:0;
	cursor:pointer;
}
.modal-close::before,
.modal-close::after {
	content: "";
	position:absolute;
	width: 26px;
	height: 6px;
	background-color: #FF5357;
	border-radius:1px;
	top:10px;
	left:0px;
}
.modal-close:hover::before,
.modal-close:hover::after {
	content: "";
	position:absolute;
	width: 26px;
	height: 6px;
	background-color: #B22832;
	border-radius:1px;
	top:10px;
	left:0px;
}
.modal-close::before{
	transform: rotate(45deg);
}
.modal-close::after {
	transform: rotate(-45deg);
}
.write-to-us-modal label {
	display:inline-block;
	margin:0px 0 12px 0;
	font-size:18px;
	line-height:18px;
}
.us-form-middle label {
	margin:20px 0 12px 0;
}
.us-form-left input[type="text"],
.us-form-right input[type="email"] {
	
}
.us-form-left input[type="text"],
.us-form-right input[type="email"],
.us-form-middle textarea {
	font-size:13px;
	line-height:18px;
	width:192px;
	font-family: 'PT Sans',"Arial", sans-serif;
	border:2px solid #DEE3E4;
	border-radius:5px;
	padding:10px 12px;
}
.us-form-left,
.us-form-right {
	width:220px;
	padding-top:45px;
}
.us-form-left,
.us-form-middle {
	float:left;
	padding-left:80px;
}
.us-form-right {
	float:right;
	padding-right:80px;
}
.us-form-middle textarea {
	display:block;
	width: 432px; 
    height: 110px;
    resize: none;
	margin-bottom:37px;
}
.us-form-bottom input[type="submit"] {
	width: 460px;
	margin-top:36px;
	margin-left:80px;
	height:37px;
	font-size:14px;
	line-height:18px;
	text-transform:uppercase;
	font-family: 'Cuprum',"Arial", sans-serif;
	border-radius:5px;
	background-color:#FF5357;
	color: #fff;
	border:none;
}
.us-form-bottom {
	display:inline-block;
	vertical-align:text-bottom;
	background-color: #F4F4F4;
	width:100%;
	height:111px;
}

@keyframes bounce {
  0%   {
    transform: translateX(2000px);
  }
  70%  {
    transform: translateX(-30px);
  }
  90%  {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.map-modal {
	position: fixed;
	top: 50%;
	margin-top:-223px;
	left: 50%;
	margin-left:-470px;
	width:940px;
	height:446px;
	background: #e9e5dc url("img/map.jpg");
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
	display:none;
}

.buy-modal {
	position: fixed;
	top: 50%;
	margin-top:-310px;
	left: 50%;
	margin-left:-137px;
	display: block;
	width: 620px;
	height: 275px;
	background-color: #fff;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
	display:none;
}
.write-to-us-show, 
.map-modal-show,
.buy-modal-show {
	display:block;
	animation: bounce 0.6s;
}
.buy-modal img {
	position:absolute;
}
.buy-modal span {
	display:inline-block;
	font-size: 30px;
	line-height: 18px;
	margin:18px 0 0 100px;
}
.buy-modal-top {
	margin:50px 80px 20px 80px;
	min-height:94px;
}
.buy-modal-buttom {
	height:111px;
	background-color: #F1F1F1;
	padding-left:80px;
}
a.second-btn,
.buy-modal a.major-btn  {
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	margin:0;
	color: #000;
	background-color: #fff;
	font-size:14px;
	line-height:18px;
	text-transform:uppercase;
	padding: 10px 45px;
	width:130px;
	border-radius:5px;
	margin-top:37px;
}
.buy-modal a.major-btn {
	background-color: #FF5357;
	color: #fff;
	float:none;
	margin-right:16px;
}
a.second-btn:hover {
	background-color: #EAEAEA;;
}
a.second-btn:active {
	background-color: #E8E8E8;
}